// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkHubGuiPages} {
  .RegistryPage,
  .ReportPage {
    // sass-lint:disable-block no-important
    display: table !important;
    height: 100%;
    width: 100%;

    .Header {
      background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;

      .Label {
        color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM;
        font-size: 40px;
        padding: 10px;
      }

      .Logo {
        background: $COM_WUI_FRAMEWORK_COMMONS_WUI_LOGO no-repeat;
        top: 8px;
      }
    }

    .Items {
      padding-left: 30px;
    }

    .Footer {
      background-color: $COM_WUI_FRAMEWORK_GRAY_DARK;

      .Label {
        color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM_LIGHT;
        text-align: center;
        width: 100%;

        .Text {
          width: 100%;
        }
      }
    }
  }
}
