// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkHubGuiPages} {
  .ReportPage {
    .Log {
      font-family: Consolas, serif;
      padding: 10px;
      word-wrap: break-word;

      .Error {
        background-color: $COM_WUI_FRAMEWORK_RED_LIGHT;
      }

      .Warning {
        background-color: $COM_WUI_FRAMEWORK_LOGO_YELLOW;
      }
    }
  }
}
